@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
/* colors */
    --placeholderBG: plum;
    --bgColor: lavender;
    --blockText: lavenderblush;
    --banner: lightpink;
    --banTxtCol: hotpink;
    --txtPink: mediumvioletred;
/* spacing */
    --padding: 0rem 3rem 0rem 3rem;
    --sectionPad: 1rem;
    --margin: 1rem;
/* fonts */
    --titleFont: chango;
    --pageFont: quicksand, sans-serif;
/* fontStyling */
    --titleStyle: 0.1rem 0.1rem 0 white,
                    -0.1rem -0.1rem 0 white,
                    0.1rem -0.1rem 0 white,
                    -0.1rem 0.1rem 0 white;
    /* general styling */
    --radius: 0.5rem;
}
body {
    font-family: var(--pageFont);
    padding: 0;
    margin: 0;
    background: var(--bgColor);
    color: var(--txtPink);
}
h1 {
    color: var(--banTxtCol);
    font-family: var(--titleFont);
    font-size: 3rem;
    text-shadow: var(--titleStyle);
}
h2 {
    color: var(--banTxtCol);
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--banner);
    padding: var(--padding);
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav a {
    color: var(--banTxtCol);
    font-size: 1.25rem;
}
.links {
    list-style-type: none;
    margin: 0.25rem;
    font-weight: bold;
}
.links a {
    text-decoration: none;
}
.homeNavLink {
    color: red;
}
.scheduleNavLink {
    color: salmon;
}
.galleryNavLink {
    color: yellow;
}
.servicesNavLink {
    color: green;
}
.aboutNavLink {
    color: blue;
}
.contactNavLink {
    color: indigo;
}
.partnersNavLink {
    color: violet;
}
section {
    margin: var(--margin);
    padding: var(--sectionPad);
    background: var(--blockText);
    border-radius: var(--radius);
}
.frontPageGalFrame {
    height: 15rem;
    width: 100%;
    background: var(--placeholderBG);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}
.newsImgPlaceholder {
    height: 3rem;
    width: 6rem;
    background: var(--placeholderBG);
}
.placeholderImgStaff {
    height: 3rem;
    width: 3rem;
    background: var(--placeholderBG);
}
footer {
    background: var(--banner);
    padding: var(--padding);
    text-align: center;
}

@media (min-width: 720px) {
    header {
        display: flex;
        flex-flow: row nowrap;
    }
    nav {
        width: 55%;
    }
    nav ul {
        justify-content: space-evenly;
        align-items: flex-end;
    }
}